<div class="col-12 md:col-12 lg:col-12">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Contacts List">
        <div class="col-12 md:col-12 lg:col-12">
            <form #f="ngForm">
                <div #row1 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="firstname" name="_fname" pInputText [(ngModel)]="firstName"
                                     [pKeyFilter]="'alpha'" required />
                                <label for="_fname">First Name</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="lastname" name="_lname" pInputText [(ngModel)]="lastName"
                                    [pKeyFilter]="'alpha'" required />
                                <label for="_lname">Last Name</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="roleOptions" (click)="onSelect('G')" [(ngModel)]="role"
                                    name="_role">
                                </p-dropdown>
                                <label for="_role">Role Name</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="maincategoryOptions" (click)="onSelect('E')"
                                    [(ngModel)]="mainCategory" name="_maincategory">
                                </p-dropdown>
                                <label for="_maincategory">Main category</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="subcategoryOptions" (click)="onSelect('F')"
                                    [(ngModel)]="subCategory" name="_subCategory">
                                </p-dropdown>
                                <label for="_subCategory">Sub Category</label>
                            </span>
                        </div>


                    </div>
                </div>
                <div #row2 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">

                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-calendar [(ngModel)]="dob" name="_dob" [showIcon]="true" inputId="dobvalue">
                                </p-calendar>
                                <label for="_dob">D.O.B</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="phoneno" name="_phoneno" pInputText [(ngModel)]="phoneNumber"
                                    maxlength="10" [pKeyFilter]="'num'"  (input)="onphoneno()" required />
                                <label for="_mobno">phone Number</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="whatappno" name="_whatappno" pInputText
                                    [(ngModel)]="whatappNumber" maxlength="10" [pKeyFilter]="'num'" (input)="onwhatsappno()" />
                                <label for="_mobno">Whatsapp Number</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input name="_mailid" type="email"  (change)="emailValidationCheck()"  (input)="checkIfEmailExists()" [(ngModel)]="mailId" 
                                (input)="oncheck()"  (change)="onCheck()"   pInputText>
                                <label for="float-input">e-mail ID</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="countryOptions" (click)="onSelect('B')" [(ngModel)]="country"
                                    name="_country">
                                </p-dropdown>
                                <label for="_country">Country</label>
                            </span>
                        </div>

                    </div>
                </div>
                <div #row3 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">

                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="stateOptions" (click)="onSelect('C')" [(ngModel)]="state"
                                    name="_state" [required]="true">
                                </p-dropdown>
                                <label for="_country">state</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="cityOptions" (click)="onSelect('D')" [(ngModel)]="city"
                                    name="_city" placeholder="-select-"
                                    [style]="{width: '-webkit-fill-available !important'}">
                                </p-dropdown>
                                <label for="_city">City</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="addr1" name="_addr1" pInputText [(ngModel)]="addressLine1"
                                    [pKeyFilter]="'alpha'" required />
                                <label for="_addr1">Address Line 1</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="addr2" name="_addr2" pInputText [(ngModel)]="addressLine2"
                                    [pKeyFilter]="'alpha'" required />
                                <label for="_addr2">Address Line 2</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="pcode" name="_pincode" pInputText [(ngModel)]="pincode"
                                    maxlength="6" [pKeyFilter]="'num'" required />
                                <label for="_pincode">Pincode</label>
                            </span>
                        </div>

                    </div>
                </div>
                <div #row4 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-1">
                            <p-checkbox name="groupname" label="isunion" [binary]="true" [(ngModel)]="selected">
                            </p-checkbox>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="unionOptions" (click)="onSelect('H')" [(ngModel)]="unionMaster"
                                    name="_unionselection" placeholder="-select-" [disabled]="(selected !== true)"
                                    [style]="{width: '-webkit-fill-available !important'}">
                                </p-dropdown>
                                <label for="_unionselection">Union Selection (optional)</label>
                            </span>
                        </div>
                        <div class="p-col-12 p-md-12 p-lg-3" style="margin-top: 23px;">
                            <p-radioButton name="Flag" label="ACTIVE" value=1 [(ngModel)]="selectedType" required>
                            </p-radioButton>&nbsp;
                            <p-radioButton name="Flag" label="INACTIVE" value=0 [(ngModel)]="selectedType" required>
                            </p-radioButton>
                        </div>
                    </div>
                </div>
                <div #row5 class="col-12 md:col-12 lg:col-12 to-center">
                    <button pButton name="save" type="button" label="Submit" icon="pi pi-save"
                        (click)="onSave()"></button>&nbsp;
                    <button pButton type="button" label="Clear" icon="pi pi-trash" (click)="onClear()"></button>
                </div>
            </form>
        </div>
    </p-panel>
    <div class="col-12 md:col-12 lg:col-12">
        <p-table #dt [columns]="cols" [value]="contactlistData" styleClass="p-datatable-gridlines" [paginator]="true"
            [rows]="10" [rowsPerPageOptions]="[5,10,15,20,30,50]" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="grid" style="width: -webkit-fill-available;">
                    <div class="lg:col-10 no-pad-top no-pad-btm">
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input #searchInput pInputText type="text"
                                (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="Search By Name" />
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Edit</th>
                    <th>S.No:</th>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                    <td>
                        <p-button icon="pi pi-pencil" (onClick)="onEdit(rowData)"></p-button>
                    </td>
                    <td>{{rowIndex+1}}</td>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>