<div *ngIf="!hide" class="col-12 md:col-12 lg:col-12 header-div">
    <div class="grid">
        <div class="col-7 md:col-4 lg:col-2 header-logo-txt">
            <div class="grid">
                <div class="col-3 md:col-2 lg:col-2 header-logo"> M </div>
                <div class="col-9 md:col-10 lg:col-10" [routerLink]="['/home']">
                    <span>Media Management</span>
                </div>
            </div>
        </div>
        <div class="col-1 md:col-1 lg:col-1 menu-bars" (click)="toggleMenu(display)">
            <span><i class="pi pi-fw pi-bars"></i></span>
        </div>
        <div class="md:col-4 lg:col-6"></div>
        <div class="col-3 md:col-3 lg:col-3 header-login"><span>Log In</span><i class="pi pi-angle-down"
                style="color: grey;" [routerLink]="['/login']" ></i></div>
    </div>
</div>