<div *ngIf="!hide" class="col-12 md:col-12 lg:col-12 header-div">
    <div class="grid header-logo-txt" style="height: 60px;">
        <div class="col-3 md:col-3 lg:col-3  ">
            <img style="height:50px;width: 50px;" src="assets/images/logo.png">
        </div>
        <div class="col-6 md:col-6 lg:col-6" style="text-align: center;margin-top: 15px;" [routerLink]="['/home']">
            <span>Media Management Portal</span>
        </div>
        <div class="col-3 md:col-3 lg:col-3 ">
            <p-overlayPanel #op>
                <ng-template pTemplate style="text-align: center;">
                    <div
                        style="text-align: center !important; text-shadow: 0.5px 0.5px#787f92!important; color: #787f92;">
                    </div>
                    <span style="font-size: 13px;">Username: <span
                            style="color: #08747b; font-size: 14px !important;">{{username}} </span></span><br />
                    <p><a style="font-size: 15px; color:#787f92;margin-left: 27px;" routerLink="/change-password"
                            routerLinkActive="active">Change Password</a></p>
                    <button pButton
                        style="color:#787f92;border-radius:20px;padding-left: 25px;padding-right: 25px;margin-left: 27px;"
                        class="p-button-outlined" [routerLink]="['/login']" type="button">Log
                        Out</button>
                </ng-template>
            </p-overlayPanel>
            <div style="text-align: right;margin-top: 7px;">
                <span>
                    <button pButton pRipple type="button" icon="pi pi-user" style="color: #787f92;"
                        class="p-button-rounded p-button-outlined" pTooltip="Userinfo" tooltipPosition="left"
                        (click)="op.toggle($event)">
                    </button> </span>&nbsp;
            </div>
        </div>
    </div>
</div>