<div class="col-12 md:col-12 lg:col-12">
    <p-panel header="Menu Master">
        <div class="col-12 md:col-12 lg:col-12">
            <form #rf="ngForm">
                <div #row1 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="menuid" name="_menuid" pInputText
                                    [(ngModel)]="menuId" required />
                                <label for="_menuid">Menu ID</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="id" name="_id" pInputText
                                    [(ngModel)]="Id" required />
                                <label for="_id">ID</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="name" name="_name" pInputText
                                    [(ngModel)]="name" required />
                                <label for="_name">Name</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="url" name="_url" pInputText
                                    [(ngModel)]="url" required />
                                <label for="_url">URL</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="parentid" name="_parentid" pInputText
                                    [(ngModel)]="parentId" required />
                                <label for="_parentid">Parent ID</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="icon" name="_icon" pInputText
                                    [(ngModel)]="icon" required />
                                <label for="_icon">Icon</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="roleOptions" [(ngModel)]="roleId" name="_roleid">
                                </p-dropdown>
                                <label for="_roleid">Role ID</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <p-radioButton name="Flag" label="ACTIVE" value=1 [(ngModel)]="selectedType"
                            required>
                        </p-radioButton>&nbsp;
                        <p-radioButton name="Flag" label="INACTIVE" value=0 [(ngModel)]="selectedType"
                            required>
                        </p-radioButton> 
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="Priorities" name="_priorities" pInputText
                                    [(ngModel)]="priorities" required />
                                <label for="_priorities">Priorities</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div #row4 class="col-12 md:col-12 lg:col-12 to-center">
                    <button pButton type="button" label="Submit"></button>
            </div>
            </form>
        </div>
    </p-panel>
</div>