<div class="col-12 md:col-12 lg:col-12">
    <p-panel header="Registration">
        <div class="col-12 md:col-12 lg:col-12">
            <form #regForm="ngForm">
                <div #row1 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="prodhousename" name="_phousename" pInputText
                                    [(ngModel)]="productionHouseName" required />
                                <label for="_phousename">Production Housename</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="firstname" name="_fname" pInputText [(ngModel)]="firstName"
                                    required />
                                <label for="_fname">First Name</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="lastname" name="_lname" pInputText [(ngModel)]="lastName"
                                    required />
                                <label for="_lname">Last Name</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-calendar [(ngModel)]="dob" name="_dob" [showIcon]="true" inputId="dobvalue">
                                </p-calendar>
                                <label for="_dob">D.O.B</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="mobno" name="_mobno" pInputText [(ngModel)]="mobileNo"
                                    maxlength="10" required />
                                <label for="_mobno">Mobile No</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div #row2 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="email" name="_email" pInputText [(ngModel)]="emailId" required />
                                <label for="_email">Email Id</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="pwd" name="_pwd" pInputText [(ngModel)]="password" required />
                                <label for="_pwd">Password</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="cpwd" name="_cpwd" pInputText [(ngModel)]="confirmPwd"
                                    required />
                                <label for="_cpwd">Confirm Password</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="countryOptions" [(ngModel)]="country" name="_country">
                                </p-dropdown>
                                <label for="_country">Country</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="stateOptions" [(ngModel)]="state" name="_state"></p-dropdown>
                                <label for="_state">State</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div #row3 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="cityOptions" [(ngModel)]="city" name="_city"
                                placeholder="-select-" [style]="{width: '-webkit-fill-available !important'}"></p-dropdown>
                                <label for="_city">City</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="addr1" name="_addr1" pInputText [(ngModel)]="addressLine1"
                                    required />
                                <label for="_addr1">Address Line 1</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="addr2" name="_addr2" pInputText [(ngModel)]="addressLine2"
                                    required />
                                <label for="_addr2">Address Line 2</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="pcode" name="_pincode" pInputText [(ngModel)]="pincode"
                                    maxlength="6" required />
                                <label for="_pincode">Pincode</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div #row4 class="col-12 md:col-12 lg:col-12 to-center">
                        <button pButton type="button" label="Register"></button>
                </div>
            </form>
        </div>
    </p-panel>
</div>