<p-toast position="top-center" key="t-msg"></p-toast>
<div class="col-12 md:col-12 lg:col-12">
    <p-panel header="Main CategoryMaster"> 
        <div class="col-12 md:col-12 lg:col-12">
            <form #f="ngForm" name="maincategorymaster">
                <div #row1 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text"  id="categoryname" name="_catname" pInputText [(ngModel)]="categoryName"
                                  [pKeyFilter]="block" (change)="onCheck()"  required />
                                <label for="_catname">Category Name</label>
                            </span>
                        </div>
                        <div class="p-col-12 p-md-12 p-lg-3" style="margin-top: 23px;">
                            <p-radioButton name="Flag" label="ACTIVE" value=1 [(ngModel)]="selectedType" required>
                            </p-radioButton>&nbsp;
                            <p-radioButton name="Flag" label="INACTIVE" value=0 [(ngModel)]="selectedType" required>
                            </p-radioButton>

                        </div>
                    </div>
                </div>
                <div #row4 class="col-12 md:col-12 lg:col-12 to-center">
                    <button pButton name="save" type="button" label="Submit" icon="pi pi-save" [disabled]="!f.valid || !f.dirty"
                        (click)="onSave()"></button>&nbsp;
                    <button pButton type="button" label="Clear" icon="pi pi-trash" (click)="clearform()"></button>
                </div>
            </form>
        </div>
    </p-panel>
    <div class="col-12 md:col-12 lg:col-12">
        <p-table #dt [columns]="cols" [value]="mainCategoryData" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[5,10,15,20,25,30]">
            <ng-template pTemplate="caption">
                <div class="grid" style="width: -webkit-fill-available;">
                    <div class="lg:col-10 no-pad-top no-pad-btm">
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input #searchInput pInputText type="text" [pKeyFilter]="block"
                                (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="Search By Name" />
                        </span>
                    </div>
                   
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>S.No:</th>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th>Edit</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                    <td>{{rowIndex+1}}</td>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                    <td>
                        <p-button icon="pi pi-pencil" (onClick)="onEdit(rowData)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>                                                                                  