<div class="col-12 md:col-12 lg:col-12">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Daily Expenses">
        <div class="col-12 md:col-12 lg:col-12">
            <form #f="ngForm" name="dailyexpenses">
            <div>Project Selection</div>
            <p-card>
                <div #tab1 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-calendar [(ngModel)]="date" name="_date" [minDate]="minDate" [showIcon]="true" inputId="datevalue" [readonlyInput]="true">
                                </p-calendar>
                                <label for="_date">Date</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                    <p-dropdown [options]="projectOptions" (click)="onSelect('P')" [(ngModel)]="projectName"
                                    (onChange)="check()" name="_pname">
                                </p-dropdown>
                                <label for="_pname">Project Name</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="budgetamnt" name="_amount" pInputText [(ngModel)]="budgetAmount"
                                [pKeyFilter]="block"  [pKeyFilter]="'int'" required />
                                <label for="_amount">Budget Amount</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="balanceamnt" name="_balamount" pInputText [(ngModel)]="balanceAmount"
                                [pKeyFilter]="block"  [pKeyFilter]="'int'" required />
                                <label for="_amount">Balance Amount</label>
                            </span>
                        </div>
                    </div>
                </div>
            </p-card>
            <div class="col-12 md:col-12 lg:col-12"></div>
            <div>Invoice Entry</div>
            <p-card>
                <div #tab2 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="incoiceno" name="_invoiceno" pInputText
                                    [(ngModel)]="invoiceNumber" required  [pKeyFilter]="block"  [pKeyFilter]="'int'" />
                                <label for="_invoiceno">Invoice Number</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown name="_expensecategory" [options]="expensesOptions" (click)="onSelect('D')" [(ngModel)]="expensesCategory">
                                </p-dropdown>
                                <label for="_expensecategory">Expenses Category</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="amnt" name="_amnt" pInputText [(ngModel)]="amount"
                                    (input)="checkBudgetAmount()" [pKeyFilter]="block"  [pKeyFilter]="'int'" required />
                                <label for="_amnt"> Amount</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="field col-12 md:col-12 lg:col-12 to-center">
                    <button pButton type="button" label="Save" icon="pi pi-save" [disabled]="!f.valid || !f.dirty" (click)="onSave()"></button>&nbsp;
                    <button pButton type="button" label="Clear" icon="pi pi-trash" (click)="onClear()"></button>

                </div>
            </p-card>
        </form>
            </div>
            </p-panel>
                <div class="col-12 md:col-12 lg:col-12">
                    <p-table #dt [columns]="dailyexpensesCols" [value]="dailyexpensesData" styleClass="p-datatable-gridlines"
                        [loading]="loading" [paginator]="true" [rows]="10" 
                        [rowsPerPageOptions]="[5,10,15,20]" responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            <div class="grid" style="width: -webkit-fill-available;">
                                <div class="lg:col-10 no-pad-top no-pad-btm">
                                <span class="p-input-icon-left p-ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input #searchInput pInputText type="text" [pKeyFilter]="block"
                                        (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="Search By Name" />
                                </span>
                            </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th>S.No:</th>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                                <th>Edit</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr>
                                <td>{{rowIndex+1}}</td>
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                                <td>
                                    <p-button icon="pi pi-pencil" (onClick)="onEdit(rowData)"></p-button>
                                </td>
                            </tr>
                        </ng-template>
            </p-table>
        </div>
</div>