

<div class="col-12 md:col-12 lg:col-12">
    <div class="grid to-center">

        <div class="col-12 md:col-12 lg:col-12 box-shadow no-pad">
            <div #main class="col-12 form-border">
                <p-panel header="Registration Approval">
                    <!-- <div class="col-12 header">
                    <span>Reporter Approval</span>
                </div> -->
                    <!-- <p-toast position="center" key="t-msg"></p-toast> -->
                    <div class="col-12" style="margin-bottom: 2%">
                        <p-table [value]="registrationData" styleClass="p-datatable-gridlines" [paginator]="true"
                            [rows]="10" [rowsPerPageOptions]="[10,20,30,40]" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Approval Status</th>
                                    <th>DisApproval Status</th>
                                    <th style="width: 50px;">Production Housename</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>D.O.B</th>
                                    <th>Mobile No</th>
                                    <th>Email Id</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>Address Line 1</th>
                                    <th>Address Line 2</th>
                                    <th>Pincode</th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                                <tr class="tr-border">
                                    <td>
                                        <span class="p-column-title">
                                            Approval Status :
                                        </span>
                                        <button label="Accept" (click)="selectForApproval(rowData)" pButton
                                            type="button" *ngIf="(rowData.disableApprove)">
                                        </button>
                                        <span *ngIf="(rowData.tEnableTick)">
                                            <i class="status-icon-green pi pi-check">Accepted</i></span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">
                                            DisApproval Status :
                                        </span>
                                        <button label="Reject" (click)="selectForDisApproval(rowData)"
                                            *ngIf="(rowData.disableReject)" pButton type="button">
                                        </button>
                                        <span *ngIf="(rowData.tCrossTick)">
                                            <i class="status-icon-red pi pi-times">Rejected</i></span>
                                    </td>
                                    <td class="td-border">
                                        <span class="p-column-title">
                                            Production Housename :
                                        </span>
                                        <span style="text-align: end;">
                                            {{rowData.production_house_name}}
                                        </span>
                                    </td>
                                    <td class="td-border">
                                        <span class="p-column-title">
                                            First Name :
                                        </span>
                                        <span style="text-align: end;">
                                            {{rowData.first_name}}
                                        </span>
                                    </td>
                                    <td class="td-border">
                                        <span class="p-column-title">
                                            Last Name :
                                        </span>
                                        <span style="text-align: end;">
                                            {{rowData.last_name}}
                                        </span>
                                    </td>
                                    <td class="td-border">
                                        <span class="p-column-title">
                                            D.O.B :
                                        </span>
                                        <span style="text-align: end;">
                                            {{rowData.dob}}
                                        </span>
                                    </td>
                                    <td class="td-border">
                                        <span class="p-column-title">
                                            Mobile No :
                                        </span>
                                        <span style="text-align: end;">
                                            {{rowData.mobile_number}}
                                        </span>
                                    </td>
                                    <td class="td-border">
                                        <span class="p-column-title">
                                            Email Id :
                                        </span>
                                        <span style="text-align: end;">
                                            {{rowData.email_id}}
                                        </span>
                                    </td>
                                    <td class="td-border">
                                        <span class="p-column-title">
                                            Country :
                                        </span>
                                        <span style="text-align: end;">
                                            {{rowData.countryname}}
                                        </span>
                                    </td>
                                    <td class="td-border">
                                        <span class="p-column-title">
                                            State :
                                        </span>
                                        <span style="text-align: end;">
                                            {{rowData.statename}}
                                        </span>
                                    </td>
                                    <td class="td-border">
                                        <span class="p-column-title">
                                            City :
                                        </span>
                                        <span style="text-align: end;">
                                            {{rowData.cityname}}
                                        </span>
                                    </td>
                                    <td class="td-border">
                                        <span class="p-column-title">
                                            Address Line 1 :
                                        </span>
                                        <span style="text-align: end;">
                                            {{rowData.address1}}
                                        </span>
                                    </td>
                                    <td class="td-border">
                                        <span class="p-column-title">
                                            Address Line 2 :
                                        </span>
                                        <span style="text-align: end;">
                                            {{rowData.address2}}
                                        </span>
                                    </td>
                                    <td class="td-border">
                                        <span class="p-column-title">
                                            Pincode :
                                        </span>
                                        <span style="text-align: end;">
                                            {{rowData.pincode}}
                                        </span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-panel>
            </div>
        </div>
        <p-confirmDialog #cd [style]="{width: '50vw'}">
            <ng-template pTemplate="header">
                <span>Alert</span>
            </ng-template>
            <ng-template pTemplate="footer">
                <button type="button" class="p-button-outlined" (click)="cd.reject()" pButton icon="pi pi-times"
                    label="No"></button>
                <button type="button" class="p-button-outlined" (click)="cd.accept()" pButton icon="pi pi-check"
                    label="Yes"></button>
            </ng-template>
        </p-confirmDialog>
    </div>
</div>