<div class="col-12 md:col-12 lg:col-12">
    <p-panel header="Union Master">
        <p-toast position="top-center" key="t-msg"></p-toast>
        <div class="col-12 md:col-12 lg:col-12">
            <form #f="ngForm">
                <div #row1 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-3">
                            <span class="p-float-label">
                                <input type="text" id="unionname" name="_unionname" pInputText [(ngModel)]="unionName"
                                [pKeyFilter]="blockUnionname"  required (change)="checkUnionName()"  />
                                <label for="_unionname">Union Name</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                            <span class="p-float-label">
                                <input type="text" name="_regnum"  [(ngModel)]="regNumber" [pKeyFilter]="blockRegno" (change)="checkRegno()"  
                                pInputText  required />
                                <label for="_regnum">Register Number</label>
                            </span>
                        </div>
                        <div class="p-col-12 p-md-12 p-lg-3" style="margin-top: 23px;">
                            <p-radioButton name="Flag" label="ACTIVE" value=1 [(ngModel)]="selectedType" required>
                            </p-radioButton>&nbsp;
                            <p-radioButton name="Flag" label="INACTIVE" value=0 [(ngModel)]="selectedType" required>
                            </p-radioButton>
                        </div>
                    </div>
                </div>
                <div #row4 class="col-12 md:col-12 lg:col-12 to-center">
                    <button pButton type="button" label="Submit" icon="pi pi-save" [disabled]="!f.valid || !f.dirty"
                        (click)="onSubmit()"></button>&nbsp;
                    <button pButton type="button" label="Clear" icon="pi pi-trash" (click)="onClear()"></button>
                </div>
            </form>
        </div>
    </p-panel>
    <div class="col-12 md:col-12 lg:col-12">
        <p-table #dt [columns]=" cols" [value]=" data" styleClass="p-datatable-gridlines" [loading]="loading"
            [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="grid" style="width: -webkit-fill-available;">
                    <div class="lg:col-10 no-pad-top no-pad-btm">
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input #searchInput pInputText type="text"
                                (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="Search By Name" />
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>S.No:</th>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th>Edit</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                    <td>{{rowIndex+1}}</td>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                    <td>
                        <p-button icon="pi pi-pencil" (onClick)="onEdit(rowData)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>