<div class="col-12 md:col-12 lg:col-12">
    <p-panel header="Union Master">
        <div class="col-12 md:col-12 lg:col-12">
            <form #rf="ngForm">
                <div #row1 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-3">
                            <span class="p-float-label">
                                <input type="text" id="unionname" name="_unionname" pInputText
                                    [(ngModel)]="unionName" required />
                                <label for="_unionname">Union Name</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                            <span class="p-float-label">
                                <input type="text" id="regnum" name="_regnum" pInputText
                                    [(ngModel)]="regNumber" required />
                                <label for="_regnum">Register Number</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">                         
                            <p-radioButton name="Flag" label="ACTIVE" value=1 [(ngModel)]="selectedType"
                                required>
                            </p-radioButton>&nbsp;
                            <p-radioButton name="Flag" label="INACTIVE" value=0 [(ngModel)]="selectedType"
                                required>
                            </p-radioButton>                        
                        </div>
                    </div>
                </div>
                <div #row4 class="col-12 md:col-12 lg:col-12 to-center">
                    <button pButton type="button" label="Submit" (click)="onSubmit()"></button>
            </div>
            </form>
        </div>
        </p-panel>
        <p-table styleClass="p-datatable-gridlines" [columns]="cols" [value]="data"  [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[5,10,15,20]" 
     responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 100px">S.No</th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <!-- <th style="width: 120px">Edit</th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-rowData let-columns="columns">
        <tr class="tr-border">
            <td class="td-border">
                <span class="p-column-title">
                    S.No :
                </span>
                <span style="text-align: end;">
                    {{rowIndex+1}}
                </span>
            </td>
            <td *ngFor="let col of columns" [style.text-align]="col.align" class="td-border">
                <span class="p-column-title">
                    {{col.header}} :
                </span>
                <span style="text-align: end;"> {{rowData[col.field]}}
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>
    