<p-sidebar [(visible)]="status" [modal]="false" [showCloseIcon]="false" 
fxHide.gt-lg fxFlex.gt-md fxHide.gt-sm fxHide.md fxHide.lg fxHide.xl fxHide.lt-xl
fxShow.lt-sm fxShow.xs fxShow.gt-xs>
    <div>
        <p-panelMenu [model]="items" [style]="{'width':'80%', 'height': '-webkit-fill-available','min-height': '200%', 'border': '1px solid #baff9c',
        'box-shadow': '5px 0 5px -5px #088d0d', 'background': '#0c9616' }" ></p-panelMenu>
    </div>
</p-sidebar>
<p-panelMenu [model]="items" [style]="{'margin-block-start': '70px','width': '200px', 'height': '-webkit-fill-available','min-height': '100%', 'border': '1px solid #787f92',
'box-shadow': '5px 0 5px -5px #787f92', 'background': '#787f92'}" fxHide.xs 
fxShow.gt-lg fxShow.gt-md fxShow.gt-sm fxShow.gt-xs fxShow.lg
fxShow.lt-lg fxShow.lt-md fxShow.lt-sm fxShow.lt-xl fxShow.md></p-panelMenu>
