<div *ngIf="!hide" class="col-10 md:col-3 lg:col-2 menu-sidebar">
    <div style="margin-top: 2rem;">
        <div style="margin-bottom: 0.5rem;" [routerLink]="['/home']">
            <span class="menu-item-subtitle">
                <i class="pi pi-fw pi-home"></i>
                Home </span>
        </div>
        <div style="margin-bottom: 0.5rem;" [routerLink]="['/registration']">
            <span class="menu-item-subtitle">
                <i class="pi pi-fw pi-pencil"></i>
                Registration </span>
        </div>

        <!-- //24/08 -->
        <div style="margin-bottom: 0.5rem;" [routerLink]="['/location-info']">
            <span class="menu-item-subtitle">
                <i class="pi pi-angle-right"></i>
                Location Info </span>
        </div>
        <div style="margin-bottom: 0.5rem;" [routerLink]="['/contacts-list']">
            <span class="menu-item-subtitle">
                <i class="pi  pi-angle-right"></i>
                Contacts List </span>
        </div>
        <div style="margin-bottom: 0.5rem;" [routerLink]="['/daily-expenses']">
            <span class="menu-item-subtitle">
                <i class="pi  pi-angle-right"></i>
                Daily Expenses </span>
        </div>
        <div style="margin-bottom: 0.5rem;">
            <span class="menu-item-title">
                <i class="pi  pi-user"></i>
                Master </span>
        </div>
        <div style="margin-bottom: 0.5rem;" [routerLink]="['/menu-master']">
            <span class="menu-item-subtitle">
                <i class="pi  pi-angle-right"></i>
                Menu Master </span>
        </div>
        <div style="margin-bottom: 0.5rem;" [routerLink]="['/role-master']">
            <span class="menu-item-subtitle">
                <i class="pi  pi-angle-right"></i>
                Role Master </span>
        </div>
        <div style="margin-bottom: 0.5rem;" [routerLink]="['/state-master']">
            <span class="menu-item-subtitle">
                <i class="pi  pi-angle-right"></i>
                State Master </span>
        </div>
        <div style="margin-bottom: 0.5rem;" [routerLink]="['/subcategory-master']">
            <span class="menu-item-subtitle">
                <i class="pi  pi-angle-right"></i>
                Sub-Category Master</span>
        </div>
        <div style="margin-bottom: 0.5rem;" [routerLink]="['/union-master']">
            <span class="menu-item-subtitle">
                <i class="pi  pi-angle-right"></i>
                Union Master </span>
        </div>
        <div style="margin-bottom: 0.5rem;" [routerLink]="['/maincategory-master']">
            <span class="menu-item-subtitle">
                <i class="pi  pi-angle-right"></i>
                Main Category Master </span>
        </div>
        <div style="margin-bottom: 0.5rem;" [routerLink]="['/expenses-category']">
            <span class="menu-item-subtitle">
                <i class="pi  pi-angle-right"></i>
                Expenses Category Master </span>
        </div>
        <!-- //end -->

        <div *ngFor="let i of titles" class="col-12 md:col-12 lg:col-12">
            <div>
                <span class="menu-item-title"> {{i.title}} </span>
                <div class="menu-item-subtitle" *ngFor="let j of items">
                    <div *ngIf="(i.id == j.id)">
                        <i class="{{j.icon}}"></i>
                        <span>{{j.label}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>