<div class="col-12 md:col-12 lg:col-12">
    <!-- <div class="grid to-center"> -->
    <p-panel header="Change Password">
        <p-messages [(value)]="responseMsg" [enableService]="false"
            [hideTransitionOptions]="'500ms cubic-bezier(0.86, 0, 0.076, 1)'"></p-messages>
        <div class="col-12 md:col-12 lg:col-12">
            <form #f="ngForm" name="User Master">
                <div #row1 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="grid to-center">
                            <div class="col-12 md:col-12 lg:col-4">
                                <span class="p-float-label">
                                        <input name="_oldpwd" type="password" autocomplete="off"
                                        [(ngModel)]="oldPwd" [pKeyFilter]="blockSpace" pInputText>
                                        
                                    <label for="pwd">Old Password</label>
                                </span>
                            </div>
                            <div class="col-12 md:col-12 lg:col-4">
                                <span class="p-inputgroup">
                                    <input  id="pwd" name="_newpwd" type="password" minlength="8" maxlength="12"
                                        autocomplete="off" (input)="check(newPwd)" placeholder="New Password" [(ngModel)]="newPwd"
                                        [pKeyFilter]="blockSpace" pInputText>
                                        <span class="p-inputgroup-addon" (click)="onShowPswd()">
                                            <i *ngIf="!showPswd" class="pi pi-eye" aria-hidden="true"></i>
                                            <i *ngIf="showPswd" class="pi pi-eye-slash"
                                                aria-hidden="true"></i>
                                        </span>
                                    <!-- <label for="float-input">New Password</label> -->
                                </span>
                                <!--password match message-->
                                <div *ngIf="pswdStrongMsg"
                                    style="color: rgb(28, 182, 92); font-size: 12px; text-align: left;">Password
                                    Strong!</div>
                                <div *ngIf="SpecialCharErrMsg"
                                    style="color: rgb(250, 15, 62); font-size: 12px; text-align: left;">Atleast one
                                    Special
                                    Character must!</div>
                                <div *ngIf="NumericErrMsg"
                                    style="color: rgb(250, 15, 62); font-size: 12px; text-align: left;">Atleast one
                                    Numeric(0-9)
                                    must!</div>
                                <div *ngIf="UpperCaseErrMsg"
                                    style="color: rgb(250, 15, 62); font-size: 12px; text-align: left">Atleast one
                                    Uppercase(A-Z) must!</div>
                                <div *ngIf="LengthErrMsg"
                                    style="color: rgb(250, 15, 62); font-size: 12px; text-align: left">
                                    Minimum 8 Characters!</div>
                                <!--message end-->

                            </div>

                            <div class="col-12 md:col-12 lg:col-4">
                                <span class="p-inputgroup">
                                    <input id="cpwd" type="password" name="_confirmpwd" (input)="checkPassword()"
                                        [(ngModel)]="confirmPassword" [pKeyFilter]="blockSpace" autocomplete="off"
                                       placeholder="Confirm Password" pInputText minlength="8" maxlength="12" required>
                                        <span class="p-inputgroup-addon" (click)="onShowcPswd()">
                                            <i *ngIf="!showcPswd" class="pi pi-eye" aria-hidden="true"></i>
                                            <i *ngIf="showcPswd" class="pi pi-eye-slash"
                                                aria-hidden="true"></i>
                                        </span>
                                    <div *ngIf="showErrMsg" style="color: rgb(250, 15, 62); font-size: 12px;">Password
                                        did
                                        not match</div>
                                    <div *ngIf="showMatchMsg"
                                        style="color: rgb(28, 182, 92); font-size: 12px; text-align: left;">Password
                                        matched!</div>
                                    <!-- <label for="float-input">Confirm Password</label> -->
                                </span>
                            </div>
                        </div>
                    </div>
                    <div #row2 class="col-11 " style="text-align: center;">
                        <button pButton name="save" type="button" label="Submit" icon="pi pi-save"
                            [disabled]="(!oldPwd || !newPwd || !confirmPassword)"
                            (click)="onCheckOldPwd()"></button>&nbsp;
                        <button pButton type=" button" label="Clear" icon="pi pi-trash" (click)="onClear()"></button>
                    </div>
                </div>
            </form>
        </div>
    </p-panel>
    <!-- </div> -->
</div>