/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/saga-orange/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
html, body { height: 100%; }
body { margin: 0; 
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: MuliRegular, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    position: absolute;
    background: linear-gradient(99deg, #F6F9FE 0%, #E8F1F8 100%);
    width: 100% !important;
 }

.header-div {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 7;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem !important;
}

.header-logo-txt {
    font-size: 20px;
    color: #529d3f;
    font-weight: 800;
}

.header-logo {
    border-radius: 50%;
    width: auto !important;
    background: #529d3f;
    color: white;
}

.header-login {
    color: #529d3f;
    font-weight: 600;
    text-align: end;
}

.home-gallery-footer {
    background: #529d3f;
    text-align: center;
    font-size: 18px;
    padding: 0.3rem;
    color: white;
    font-weight: 500;
}

.home-subtitle {
    text-align: center;
    color: #529d3f;
    font-size: 22px;
    font-weight: 500;
    margin: 4rem 1rem 1rem;
}

.home-txt {
    color: #529d3f;
    font-size: 17px;
    width: 40%;
    line-height: 1.5;
}

.menu-sidebar {
    margin-top: 3.5rem;
    position: fixed;
    overflow-y: auto;
    background-color: #3C4962;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 6%);
    padding: 0 !important;
    overflow-x: hidden;
    height: -webkit-fill-available !important;
    transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
    z-index: 5;
}

.menu-item-title {
    color: #CDD2DB;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

}

.menu-item-subtitle {
    color: #CDD2DB;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.menu-bars {
    border-radius: 50%;
    background: #f3f9e7;
    width: 35px !important;
    height: 35px !important;
    display: flex;
    justify-content: center;
    color: #3c4962;
}

.no-padding {
    padding: 0 !important;
}

.to-center {
    display: flex;
    justify-content: center;
}

.gradient-custom {
    /* fallback for old browsers */
    height: 655px !important;
    background: #529d3f;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(15, 223, 95), rgb(117, 247, 100));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(15, 223, 95), rgb(117, 247, 100));
    }

.card {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 3px;
}

.login-bg-img {
    position:absolute;
    width: 100%;
    height: -webkit-fill-available;
    opacity: .7;
}

.login-content {
    padding-top: 5% !important;
    color: #c3baba !important;
    position:relative;
}


.p-inputtext {
    width: -webkit-fill-available;
}
.p-float-label label {
    font-size: 13px !important;
}