/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/saga-orange/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
html, body { height: 100%; }
body { margin: 0; 
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: MuliRegular, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    position: absolute;
    background: linear-gradient(99deg, #F6F9FE 0%, #E8F1F8 100%);
    width: 100% !important;
 }

.header-div {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 7;
    //padding: 1.5rem 1.5rem 0.5rem 1.5rem !important;
}

.header-logo-txt {
    font-size: 25px;
    color: #787f92;
    font-weight: 800;
}

.header-logo {
    border-radius: 50%;
    width: auto !important;
    background: #787f92;
    color: white;
}

.header-login {
    color: #787f92;
    font-weight: 600;
    text-align: end;
}

.home-gallery-footer {
    background: #787f92;
    text-align: center;
    font-size: 18px;
    padding: 0.3rem;
    color: white;
    font-weight: 500;
}

.home-subtitle {
    text-align: center;
    color: #787f92;
    font-size: 22px;
    font-weight: 500;
    margin: 4rem 1rem 1rem;
}

.home-txt {
    color: #787f92;
    font-size: 17px;
    width: 40%;
    line-height: 1.5;
}

// .menu-sidebar {
//     margin-top: 3.5rem;
//     position: fixed;
//     overflow-y: auto;
//     background-color: #3C4962;
//     box-shadow: 0 2px 12px 0 rgb(0 0 0 / 6%);
//     padding: 0 !important;
//     overflow-x: hidden;
//     height: -webkit-fill-available !important;
//     transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
//     z-index: 5;
// }

// .menu-item-title {
//     color: #CDD2DB;
//     font-size: 12px;
//     font-weight: 600;
//     text-transform: uppercase;

// }

// .menu-item-subtitle {
//     color: #CDD2DB;
//     font-size: 13px;
//     font-weight: 500;
//     cursor: pointer;
//     margin: 10px;
// }

// .menu-bars {
//     border-radius: 50%;
//     background: #f3f9e7;
//     width: 35px !important;
//     height: 35px !important;
//     display: flex;
//     justify-content: center;
//     color: #3c4962;
// }

.no-padding {
    padding: 0 !important;
}

.to-center {
    display: flex;
    justify-content: center;
}

.gradient-custom {
    /* fallback for old browsers */
    height: 655px !important;
    background: #787f92;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(15, 223, 95), rgb(117, 247, 100));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(15, 223, 95), rgb(117, 247, 100));
    }

.card {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 3px;
}

.login-bg-img {
    position:absolute;
    width: 100%;
    height: -webkit-fill-available;
    opacity: .9;
}

.login-content {
    padding-top: 10% !important;
    color: #c3baba !important;
    position:relative;
}


.p-inputtext {
    width: -webkit-fill-available;
}
.p-float-label label {
    font-size: 13px !important;
}
.p-galleria-thumbnail-wrapper {
    display: none !important;
}

//Table style 
//These style is used to change the width & Height of the Data table.
//Font size ,colour ,background colour also declared here. 
  
.p-datatable.p-datatable-gridlines .p-datatable-header {
    display: flex !important;
    // justify-content: end !important;
    padding: 0.25rem !important;
}

.p-datatable .p-datatable-thead>tr>th {
    color: #090a0a !important;
    background: #ececec !important;
    padding: 0.5rem 0.5rem !important;
    font-size: 14px !important;
}
.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody) .p-datatable-tbody > tr > td {
    font-size: 14px !important;
    color: #2a2a2a !important;
}
.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.25rem 0.5rem !important;
}
.status-icon-green {
    color: #787f92;
}

.status-icon-red {
    color: #f00a0a;
}
//table style end



//menu and side panel

.p-sidebar-left {
    position: relative !important;
    width: -webkit-fill-available !important;
    background-color: #787f92;
}

.p-sidebar {
    background-color: #787f92;
}

.p-panelmenu .p-panelmenu-header>a {
    padding:  1.5rem !important;
    color: whitesmoke !important;
    font-size: 14px !important;
    background: #787f92 !important;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
    // color: #4eeb58  !important;
    border-top: 1px solid #787f92 !important;
    font-size: 14px !important;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon {
    //     color: #4eeb58 !important;+++
    color: inherit !important;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
    color: inherit !important;
    padding-left: .5rem !important;
}

.p-panelmenu .p-panelmenu-panel {
    box-shadow: none !important;
    border-bottom: 1px solid #787f92 !important;
}

.p-panelmenu .p-panelmenu-panel:first-child .p-panelmenu-header>a {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.p-panelmenu .p-panelmenu-panel:last-child .p-panelmenu-header:not(.p-highlight)>a {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.p-panelmenu .p-panelmenu-panel:last-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.p-panelmenu .p-panelmenu-content .p-submenu-list:not(.p-panelmenu-root-submenu) {
    padding: 0 !important;
}

.p-panelmenu .p-panelmenu-panel .p-panelmenu-header .p-panelmenu-header-link:focus {
    background: #787f92 !important;
    color: white !important;
}

.p-panelmenu .p-panelmenu-content {
    padding: 0 !important;
}

.p-panelmenu .p-panelmenu-panel .p-menuitem .p-menuitem-link:focus {
    background: #787f92 !important;
    color: white !important;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
    // background: white !important;
    // color: #0c9616 !important;
    background:#787f92 !important;
}

// .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
//     background: #25a35e !important;
// }

.p-sidebar .p-sidebar-header {
    padding: 0rem !important;
}

.p-sidebar-left {
    background:#787f92 !important;
}

.p-sidebar .p-sidebar-header .p-sidebar-close,
.p-sidebar .p-sidebar-header .p-sidebar-icon {
    color: white !important;
}

.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover,
.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
    color: white !important;
}



//end