<div class="col-12 md:col-12 lg:col-12">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Location Info">
        <div class="col-12 md:col-12 lg:col-12">
            <form #f="ngForm" name="locationinfoForm">
                <div #row1 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="locationname" name="_Lname" pInputText [(ngModel)]="locationName"
                                    [pKeyFilter]="block" required />
                                <label for="_Lname">Location Name</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="locationmanagerOptions" [(ngModel)]="locationManager" (click)="onSelect('LM')" name="_lmanager"
                                [autoDisplayFirst]="false">
                                </p-dropdown>
                                <label for="_lmanager">Location Manager</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="locationEPOptions" [(ngModel)]="locationEP"(click)="onSelect('LEP')" name="_locationep">
                                </p-dropdown>
                                <label for="_locationep">Location EP</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="countryOptions" [(ngModel)]="country" (click)="onSelect('C')"
                                    name="_country">
                                </p-dropdown>
                                <label for="_country">Country</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="stateOptions" [(ngModel)]="state" (click)="onSelect('S')"
                                    name="_state"></p-dropdown>
                                <label for="_state">State</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div #row2 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="cityOptions" [(ngModel)]="city" (click)="onSelect('CT')"
                                    name="_city">
                                </p-dropdown>
                                <label for="_city">City</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="addr1" name="_addr1" pInputText [(ngModel)]="addressLine1"
                                [pKeyFilter]="blockadd"  required />
                                <label for="_addr1">Address Line 1</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="addr2" name="_addr2" pInputText [(ngModel)]="addressLine2"
                                [pKeyFilter]="blockadd" required />
                                <label for="_addr2">Address Line 2</label>
                            </span>
                        </div>
                        <!-- <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="pcode" name="_pincode" pInputText [(ngModel)]="pincode"
                                    [pKeyFilter]="'int'" maxlength="6" required />
                                <label for="_pincode">Pincode</label>
                            </span>
                        </div> -->
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" name="_pincode" pInputText [(ngModel)]="pincode"
                                    appInputFormat="digitOnly" minlength="6" maxlength="6" (input)="validateFields()"
                                    placeholder="Pincode" pattern="^6[0-4]\d{4}$" autocomplete="off" required>
                                <label for="_pincode">Pincode</label>
                            </span>
                            <span *ngIf="(pincode != null && pincode !== undefined)">
                                <span *ngIf="(f.controls['_pincode'].invalid)||(pincode>pincode_max)"
                                    style="color: crimson;font-size: 12px;">Invalidpincode!</span>
                            </span>
                        </div>

                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="mobno" name="_mobno" pInputText [(ngModel)]="mobileNo"
                                    [pKeyFilter]="'int'" 
                                    [pKeyFilter]="'num'"  (input)="onphoneno()"
                                    appInputFormat="digitOnly" minlength="10"
                                    maxlength="10" pattern="^[6789]\d{9,9}$"
                                    title="Phone number starts with 6-9 and remaing 9 digit with 0-9"
                                 autocomplete="off" required>
                                <label for="_mobno">Mobile No</label>
                            </span>
                        </div>

                    </div>
                </div>
                <div #row3 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" id="Parkingnote" name="_parkingnote" pInputText
                                    [(ngModel)]="parkingNote"[pKeyFilter]="block" required />
                                <label for="_addr1">Parking Note</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <label>Parking Facility</label>
                            <div>
                                <p-radioButton name="parkingFacility" label="Yes" value=1 [(ngModel)]="parkingFacility"
                                    required>
                                </p-radioButton>
                                <p-radioButton name="parkingFacility" label="No" value=0 [(ngModel)]="parkingFacility"
                                    required>
                                </p-radioButton>
                            </div>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <label>Flag</label>
                            <div>
                                <p-radioButton name="flag" label="Active" value=1 [(ngModel)]="flag" required>
                                </p-radioButton>
                                <p-radioButton name="flag" label="Inactive" value=0 [(ngModel)]="flag" required>
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div #row4 class="col-12 md:col-12 lg:col-12 to-center">
                    <button pButton name="save" type="button" label="Submit" icon="pi pi-save"
                        (click)="onSubmit()" [disabled]="!f.valid || !f.dirty"></button>&nbsp;
                    <button pButton type="button" label="Clear" icon="pi pi-trash" (click)="clearform()"></button>
                </div>
            </form>
        </div>
    </p-panel>
    <div class="col-12 md:col-12 lg:col-12">
        <p-table #dt [columns]="cols" [value]="data" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[5,10,15,20]" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="grid" style="width: -webkit-fill-available;">
                    <div class="lg:col-10 no-pad-top no-pad-btm">
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input #searchInput pInputText type="text" [pKeyFilter]="block"
                                (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="Search By Name" />
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Edit</th>
                    <th>S.No</th>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                    <td>
                        <p-button icon="pi pi-pencil" (onClick)="onEdit(rowData)"></p-button>
                    </td>
                    <td>{{rowIndex+1}}</td>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                    
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>