<div class="col-12 md:col-12 lg:col-12">
    <p-panel header="Shooting Schedule">
        <p-messages [(value)]="responseMsg" [enableService]="false"
        [hideTransitionOptions]="'500ms cubic-bezier(0.86, 0, 0.076, 1)'"></p-messages>
        <div class="col-12 md:col-12 lg:col-12">
            <form #f="ngForm">
                <div #row1 class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="projectNameOptions" [(ngModel)]="projectName"
                                optionLabel="label" (click)="onSelect('PN')" name="_projectname"></p-dropdown>
                                <label for="_projectname">Project Name</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" name="_scene" pInputText [(ngModel)]="scene" [pKeyFilter]="block"
                                    required />
                                <label for="_scene">Scene</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="designOptions" optionLabel="label" [(ngModel)]="design"
                                    name="_design">
                                </p-dropdown>
                                <label for="_design">Interior/Exterior</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="dayNightOptions" optionLabel="label" [(ngModel)]="dayNight"
                                    name="_daynight">
                                </p-dropdown>
                                <label for="_daynight">Day/Night/Both</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <input type="text" name="_scheduleDay" pInputText [(ngModel)]="scheduleDay"
                                    optionLabel="label" [pKeyFilter]="'int'" required />
                                <label for="_scheduleDay">Schedule Day</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-calendar [(ngModel)]="scheduleDate" [minDate]="minDate" name="_scheduleDate"
                                    [showIcon]="true">
                                </p-calendar>
                                <label for="_scheduleDate">Scene start Date</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="statusOptions" (click)="onSelect('SS')" [(ngModel)]="status"
                                optionLabel="label" name="_status">
                                    </p-dropdown>
                                <label for="_status">Status</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="maincategoryOptions" (click)="onSelect('MC')"  
                                    [(ngModel)]="mainCategory"optionLabel="label" name="_mainCategory">
                                    (change)="onAdd()"  required </p-dropdown>
                                <label for="_mainCategory">Main Category</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-3 lg:col-2">
                            <span class="p-float-label">
                                <p-dropdown [options]="subcategoryOptions" (click)="onSelect('SC')"
                                    [(ngModel)]="subCategory" optionLabel="label" name="_subCategory">
                                    required </p-dropdown>
                                <label for="_subCategory">Sub Category</label>
                            </span>
                        </div>

                        <div class="p-col-12 p-md-12 p-lg-3" style="margin-top: 23px;">
                            <p-radioButton name="Flag" label="ACTIVE" value=1 [(ngModel)]="selectedType"
                                required>
                            </p-radioButton>&nbsp;
                            <p-radioButton name="Flag" label="INACTIVE" value=0
                                [(ngModel)]="selectedType" required>
                            </p-radioButton>
                        </div>

                        <div class="field col-12 md:col-3 lg:col-1">
                            <button pButton type="button" label="Add "
                                (click)="onAdd()" 
                                ></button>
                        </div>
                    </div>
                </div>
                <p-panel header="character participation">
                    <div #row2 class="col-12 md:col-12 lg:col-12">
                        <p-table [columns]="contactlistcols" [value]="maincategorynew" dataKey="contactid" styleClass="p-datatable-gridlines"
                         [(selection)]="selectedCustomers" responsiveLayout="scroll" (selectionChange)="onSelectionChange($event)"
                          [totalRecords]="totalRecords" [paginator]="true" [rows]="10">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 4rem">
                                        <p-tableHeaderCheckbox>
                                        </p-tableHeaderCheckbox>
                                    </th>
                                    <!-- <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th> -->
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Main Category</th>
                                    <th>Sub Categoty</th>
                                    <th>Phone Number</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-production let-rowData>
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="production" ></p-tableCheckbox>
                                    </td>
                                    <td>{{production.first_name}}</td>
                                    <td>{{production.rolename}}</td>
                                    <td>{{production.maincategoryname}}</td>
                                    <td>{{production.subcategoryname}}</td>
                                    <td>{{production.phonenumber}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-panel>
                <div #row4 class="col-12 md:col-12 lg:col-12 to-center">
                    <button pButton type="button" label="Save" icon="pi pi-save" [disabled]="!f.valid || !f.dirty"
                        (click)="onSave()"></button>&nbsp;
                    <button pButton type="button" label="View" icon="pi pi-eye" (click)="onView()"></button>&nbsp;
                    <button pButton type="button" label="Clear" icon="pi pi-trash" (click)="onClear()"></button>
                </div>
            </form>
        </div>
    </p-panel>
</div>
<div class="col-12 md:col-12 lg:col-12">
    <p-table #dt [columns]="ShootingScheduleCols" [value]="ShootingScheduleData" styleClass="p-datatable-gridlines"
        [loading]="loading" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
        responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="grid" style="width: -webkit-fill-available;">
                <div class="lg:col-10 no-pad-top no-pad-btm">
                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input #searchInput pInputText type="text" [pKeyFilter]="block"
                            (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="Search By Name" />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>S.No</th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th>Edit</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
            <tr>
                <td>{{rowIndex+1}}</td>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td>
                    <p-button icon="pi pi-pencil" (onClick)="onEdit(rowData)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>